<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xiaomi</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="../icon/iconfont/iconfont.css">
</head>
<body>
    <div class="nav box">
        <div class="navxin w" >
            <ul class="xinleft">
                <li><a href="#">小米商城</a></li>
                <li><a href="#">MIUI</a></li>
                <li><a href="#">loT</a></li>
                <li><a href="#">云服务</a></li>
                <li><a href="#">天星数科</a></li>
                <li><a href="#">有品</a></li>
                <li><a href="#">小爱开放平台</a></li>
                <li><a href="#">企业团购</a></li>
                <li><a href="#">资质证照</a></li>
                <li><a href="#">协议规则</a></li>
                <li><a href="#">下载app</a></li>
                <li><a href="#">Select Location</a></li>
            </ul>
            <ul class="xinright">
                <li><a href="../denglu.html">登录</a></li>
                <li><a href="../zhuce.html">注册</a></li>
                <li><a href="#">消息通知</a></li>
                <li class="g"><a href="#">购物车</a></li>
            </ul>
        </div>
    </div>
    <div class="header x">
        <div class="logo">

        </div>
        <ul>
            <li><a href="#">Xiaomi手机</a></li>
            <li><a href="#">Redmi红米</a></li>
            <li><a href="#">电视</a></li>
            <li><a href="#">笔记本</a></li>
            <li><a href="#">平板</a></li>
            <li><a href="#">家电</a></li>
            <li><a href="#">路由器</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">社区</a></li>
        </ul>
        <div class="sou">
            <input type="text">
            <span></span>
        </div>
    </div>
    <div class="xian x">
        <ul>
            <li><a href="#">手机 <span>></span></a></li>
            <li><a href="#">电视 <span>></span></a></li>
            <li><a href="#">笔记本 <span>></span></a></li>
            <li><a href="#">出行 <span>></span></a></li>
            <li><a href="#">耳机 <span>></span></a></li>
            <li><a href="#">家电 <span>></span></a></li>
            <li><a href="#">智能路由器 <span>></span></a></li>
            <li><a href="#">电源配件 <span>></span></a></li>
            <li><a href="#">健康儿童 <span>></span></a></li>
            <li><a href="#">生活箱包 <span>></span></a></li>
        </ul>
    </div>
    <div class="zhongup x">
        <div class="r1">
            <ul>
                <li>
                    <a href="#">
                        <div class="font iconfont icon-gonglve"></div>
                        <p>企业团购</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="font iconfont icon-ARsaoyisao"></div>
                        <p>f码通道</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="font iconfont icon-biaoqian"></div>
                        <p>米粉卡</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="font iconfont icon-chanpin"></div>
                        <p>以旧换新</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="font iconfont icon-wenhua"></div>
                        <p>话费充值</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="font iconfont icon-ziyuan"></div>
                        <p>保障服务</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="r2"><a href="#"><img src="../images/r1.png" alt=""></a></div>
        <div class="r2"><a href="#"><img src="../images/r2.png" alt=""></a></div>
        <div class="r2"><a href="#"><img src="../images/r3.png" alt=""></a></div>
    </div>
    <div class="zhongdown x">
        <a href="#"><img src="../images/down.png" alt=""></a>
    </div>
    <div class="main box x">
        <div class="left">
            <a href="#"><img src="../images/zuoda.png" alt=""></a>
        </div>
        <div class="right">
            <ul>
                <li><a href="#"><img src="../images/p1.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p3.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p4.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p5.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p6.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p7.png" alt=""></a></li>
                <li><a href="#"><img src="../images/p8.png" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="footer x">
        <div class="up">
            班级：软件21-1；&nbsp;姓名：吴洪赟；&nbsp;学号：2135161124；
        </div>
        <div class="tu">
            <div class="j1">
                <img src="../images/logo.png" alt="">
            </div>
            <div class="j2">
                <img src="../images/footer.png" alt="">
            </div>
        </div>
    </div>
    <div class="navshu box">
        <ul>
            <li class="sj">
                <a href="#"><img src="../images/q1.png" alt=""></a>
                <div class="shouji">
                    <img src="../images/shouji.png" alt="">
                </div>
            </li>
            <li><a href="#"><img src="../images/q2.png" alt=""></a></li>
            <li><a href="#"><img src="../images/q3.png" alt=""></a></li>
            <li><a href="#"><img src="../images/q4.png" alt=""></a></li>
            <li><a href="#"><img src="../images/q5.png" alt=""></a></li>
            <li><a href="#"><img src="../images/q6.png" alt=""></a></li>
        </ul>
    </div>
</body>
</html>